{% extends "master.html" %}

{% block title %}User Management{% endblock %}

{% block content %}
<p>
    {% include 'navbar_control_device.html' %} /
    <a href="{{ request.path }}">User Management</a>
</p>

<div class="text-center">
    <h1 class="display-4">User Management</h1>
</div>

<hr />

<div class="row">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <button type="submit" name="action_get_first" class="btn btn-outline-primary">Get First User</button>
            <button type="submit" name="action_get_next" class="btn btn-outline-primary">Get Next User</button>
            <button type="submit" name="action_read" class="btn btn-outline-primary">Get User Data</button>
            <button type="submit" name="action_write" class="btn btn-outline-primary">Set User Data</button>
            <button type="submit" name="action_delete" class="btn btn-outline-danger">Delete User</button>
        </div>

        {% if model.info_msg is not None %}
        <div class="mb-3">
            <div class="alert alert-info">{{ model.info_msg }}</div>
        </div>
        {% endif %}
        {% if model.error_msg is not None %}
        <div class="mb-3">
            <div class="alert alert-danger">{{ model.error_msg }}</div>
        </div>
        {% endif %}

        {{ form }}
    </form>
</div>

<hr />

{% endblock %}
