{% extends "master.html" %}

{% block title %}Manage Auto Attendance Settings{% endblock %}

{% block content %}
<p>
    {% include 'navbar_control_device.html' %} /
    <a href="{{ request.path }}">Manage Auto Attendance Settings</a>
</p>

<div class="text-center">
    <h1 class="display-4">Manage Auto Attendance Settings</h1>
</div>

<hr />

<div class="row">
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <button type="submit" name="action_read" class="btn btn-outline-primary">Read</button>
            <button type="submit" name="action_write" class="btn btn-outline-primary">Write</button>
        </div>

        {% if model.info_msg is not None %}
        <div class="mb-3">
            <div class="alert alert-info">{{ model.info_msg }}</div>
        </div>
        {% endif %}
        {% if model.error_msg is not None %}
        <div class="mb-3">
            <div class="alert alert-danger">{{ model.error_msg }}</div>
        </div>
        {% endif %}

        {{ form }}
    </form>
</div>

<hr />

{% endblock %}
